
#collage #playPanel {
    background-color:#497629;
    padding:10px 0px;
    margin: 50px auto;
    max-width:800px;
    width:100%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size:0.5em;
    margin: 0px 10px;
    vertical-align: top;
    width:280px;
}

#collage #stepBox, #collage #timeBox {
    display:inline-block;
    width:48%;
}

#collage #stepBox div {
    display:inline-block;
    padding:0px 0px;
    margin: 0px auto;
    max-width:800px;
}

#collage img#actualImage{
    border:0px solid #a46;
    height:280px;
    width:280px;
}

#collage #sortable {
    border:0px solid #a46;
    list-style-type: none;
    display: inline-block;
    margin: 10px 25px;
    padding: 0;
    width: 400px;
}

    #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }

#collage button  {margin-top: 10px;
    margin-left:180px ;
    background-color:#ffffff;
    border:0px solid #cce;
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 7px 10px;
    font-family: 'BMEULJIRO', sans-serif;
}